@import url("https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,301,701,300,501,401,901,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

--root {
    --primary: #0b4945;
    --secondary: #e1e84a;
}

body {
    font-family: "Satoshi", sans-serif;
    /* background-color: var(--primary); */
}

*::-webkit-scrollbar {
    @apply w-1 bg-transparent;
}

*::-webkit-scrollbar-corner {
    @apply bg-transparent;
}

*::-webkit-scrollbar-track {
    @apply bg-white;
}

*::-webkit-scrollbar-track-piece {
    @apply bg-transparent;
}

*::-webkit-scrollbar-thumb {
    @apply transition-all duration-500 rounded-full bg-black/60 hover:bg-black/40;
}

* {
    scrollbar-color: rgb(0, 0, 0, 0.4) rgb(0, 0, 0, 0);
    scrollbar-width: thin;
}
